<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.onnuridmc.sample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="com.onnuridmc.sample.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.onnuridmc.sample.activity.SampleBannerView"
                  android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="com.onnuridmc.sample.activity.SampleInterstitialView"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNative"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeVideo"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeInterstitial"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeBanner"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeArray"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeListView"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeRecycler"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeRecyclerAuto"
                  android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeRecyclerArray"
                  android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleDialog">
        </activity>
        <!-- Mediation Sample -->
        <activity android:name=".activity.SampleBannerMediation"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleInterstitialMediation"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activity.SampleNativeMediation"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name="com.onnuridmc.exelbid.common.ExelBidActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity
            android:name="com.onnuridmc.exelbid.lib.vast.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <!--   앱러빈    -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="fFdurAkhsk02FX8-aKkXQrz1zreVfbSxPSqs-nyDskF6Fc_dkEGDp4b_6UyT-S7o8hLnAnL_E9fstPGC5I2tOH" />
        <meta-data
            android:name="AppLovin.sdk.verbose_logging"
            android:value="true" />
    </application>
</manifest>